 //覆盖一些vant-ui样式
 .van-list__finished-text {
    width: 100% !important;
  }
  
  .van-list__loading{
    width: 100% !important;
  }

  .van-swipe__indicator--active{
    background-color: #fff !important;
  }